html
    head
    style
    body
        input(type='text',value='aa')
        a(href='xxx') 官网
        div(class= ['aaa', 'left-warp', 'active'])
        div#id
        div.class
        div(title= ['aaa', 'left-warp', 'active'])

        div(style="width:200px;height:200px;background:red")
        div(style= {width: '200px', height: '200px', background: 'red'})
        